#browse .events .timestamp { color: #666; width: 13em }
#browse .events .nick { color: #333; font-weight: bold; }
#browse .events .nick-wrap { text-align: right; color: #ccc; }
#browse .events .event.selected { background:  }
#browse .events .not-focused,#browse .events .not-focused .nick { color: #888; font-style: italic; font-weight: normal }
#browse .events .focused { background: #efefef; }
#browse .results-per-page { float: right; }
#browse .results-per-page .per-page-choice { margin-left: 0.3em; }
#browse .results-per-page .current { color: #555; pointer: default }
#browse .results-per-page .current:hover { text-decoration: none }
#browse .description { float: left; }
#browse .pages { clear: both; }

#footer .container .credit { margin: 20px 0; }
#footer { margin-top: 5em; background: #f5f5f5; border-top: 1px solid #f0f0f0 }

#nick-profile