.navbar { margin-bottom: 2em; }

#browse .events .timestamp { color: #666; width: 13em }
#browse .events .nick { color: #333; font-weight: bold; }
#browse .events .nick-wrap { text-align: right; color: #ccc; width: 9em }
#browse .events .not-focused,#browse .events .not-focused .nick { color: #888; font-style: italic; font-weight: normal }
#browse .events .focused { background: #efefef; }
#browse .results-per-page { float: right; }
#browse .results-per-page .per-page-choice { margin-left: 0.3em; }
#browse .results-per-page .current { color: #555; pointer: default }
#browse .results-per-page .current:hover { text-decoration: none }
#browse .description { float: left; }
#browse .pages { clear: both; }

#footer .container .credit { margin: 20px 0; }
#footer { margin-top: 5em; background: #f5f5f5; border-top: 1px solid #f0f0f0 }

body#calendar td {
  padding: 0.25em;
}

body#calendar td a:visited {
  color: #888;
}

.link {
  float: right;
  color: #999;
  line-height: 40px;
  height: 40px;
  display: inline-block;
}
.link:hover {
  color: #fff;
  text-decoration: none;
}

.link-container {
  margin-top: 40px;
  color: #fff;
}

.link-container textarea {
  width: 30em;
  height: 5em;
}

.selecting {
  border: 2px dashed #08c;
  padding-top: 1em;
}

#browse .selecting .events tr:hover, #browse .selecting .events tr:hover * {
  background: #00354f;
  color: #fff !important;
  cursor: pointer;
}

#browse .selecting .events tr.selected, #browse .selecting .events tr.selected * {
  background: #08c;
  color: #fff !important;
  cursor: pointer;
}

#browse .selecting .events tr.selected:hover, #browse .selecting .events tr.selected:hover * {
  background: #00354f;
  color: #fff !important;
  cursor: pointer;
}
