#browse .events .timestamp { color: #666; }
#browse .events .nick { color: #333; font-weight: bold; }
#browse .events .nick-wrap { text-align: right; }
#browse .events .event.selected { background:  }
#browse .events .not-focused,#browse .events .not-focused .nick { color: #888; font-style: italic; font-weight: normal }
#browse .events .focused { background: #eee; }
